<div>
    <div class="row pt-3">
      <div class="col text-center">
        <p><span class="fas fa-newspaper fa-4x"></span></p>
        <p>News</p>
      </div>
      <div class="col text-center">
        <p><span class="fas fa-calendar-alt fa-4x"></span></p>
        <p>Calendar</p>
      </div>
      <div class="col text-center">
        <p><span class="fas fa-running fa-4x"></span></p>
        <p>Activities</p>
      </div>
      <div class="col text-center">
        <p><span class="fas fa-boxes fa-4x"></span></p>
        <p>Storage</p>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
</div>