<div class="health" data-toggle="tooltip" data-placement="left" title="Health: 60%">
  <span class="fas fa-heart text-danger"></span>
  <span class="fas fa-heart text-danger"></span>
  <span class="fas fa-heart text-danger"></span>
  <span class="fas fa-heart text-secondary"></span>
  <span class="fas fa-heart text-secondary"></span>
</div>
<div class="time">
  <span class="fas fa-sun"></span>
  <p class="card-text">Day 1, 8 pm</p>
  <span class="badge badge-primary">Level 1</span>
  <p class="card-text">1 point</p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped bg-success text-dark" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
  </div>
</div>